<div class="container">
    <div class="mobileheader">
        <img src="assets/logo.png" alt="" class="mobileLogo">
       <button class="firstBtn">Sign up</button>
       <button class="secondBtn">Sign in</button>
    </div>
    <div class="dates">
        <div id="slots">სლოტები</div>
        <div class="date">10 იანვარი - 12 მარტი</div>
    </div>



    <div style="background-color: #25292B; width: 34pt; height: 34pt; border-radius: 50%; display: flex; justify-content: center; align-items: center;" class="x-mark">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="width: 30px; height: 30px;">
          <path d="M17.7 6.3c-0.4-0.4-1-0.4-1.4 0L12 10.6 7.7 6.3c-0.4-0.4-1-0.4-1.4 0s-0.4 1 0 1.4L10.6 12l-4.3 4.3c-0.4 0.4-0.4 1 0 1.4 0.2 0.2 0.5 0.3 0.7 0.3s0.5-0.1 0.7-0.3L12 13.4l4.3 4.3c0.2 0.2 0.5 0.3 0.7 0.3s0.5-0.1 0.7-0.3c0.4-0.4 0.4-1 0-1.4L13.4 12l4.3-4.3c0.4-0.4 0.4-1 0-1.4z" fill="#ffffff"/>
        </svg>
      </div>
      

    <img src="assets/banner.jpg" alt="" class="mainbg">
    <p>მოიპოვე მრავალფეროვანი პრიზები და 10 საგზურიდან ერთ-ერთი</p>
    <p class="mobPar">მოიპოვე 10 საგზურიდან ერთ-ერთი</p>
    <span>მოხვდი პოკერის ფესტივალზე მალტაში</span>
    

    <div class="header">
        <div (click)="first()">
            <span> 1 - 29 აპრილი</span>
            <span class="octomber">28 ოქტ. - 7 ნოემ.</span>
           
            <br>
            <span class="secondCash"> Cash Games</span>
          
        </div>
        <div (click)="onClick()">
            <span> 13 - 29 აპრილი</span>
            <span class="span2">10 - 29 დეკ.</span>
            <br>
            <span class="second">Spring Series</span>
            <span class="span3">New Year Series</span>
        </div>
        <div (click)="third()">
            <span >30 აპრილი</span>
            <span class="span4">28 ოქტ. - 7 ნოემ.</span>
            <br>
            <span class="second finalSecond">Final Stage</span>
        </div>

    </div>

    <ng-container *ngIf="secondTab">
        <div class="secondHeader">
            <div class="secondTopBorder"  *ngIf="!thirdTab"></div>
            <div class="childHeader">
                ᲢᲣᲠᲜᲘᲠᲔᲑᲘ ᲓᲐ ᲡᲐᲢᲔᲚᲘᲢᲔᲑᲘ
            </div>

            <p class="firstParagraph">სერიის ფარგლებში, ყოველდღიურად გაიმართება 3 ივენთი:</p>
            <div class="clock">
                <div class="circle">
                    <svg style="fill:white;"  xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="512" height="512"><path d="M12,24C5.383,24,0,18.617,0,12S5.383,0,12,0s12,5.383,12,12-5.383,12-12,12Zm0-22C6.486,2,2,6.486,2,12s4.486,10,10,10,10-4.486,10-10S17.514,2,12,2Zm5,10c0-.553-.447-1-1-1h-3V6c0-.553-.448-1-1-1s-1,.447-1,1v6c0,.553,.448,1,1,1h4c.553,0,1-.447,1-1Z"/></svg>

                </div>
               <p id="time"> 19:00 / 19:30 / 20:00</p>
            </div>

            <img src="assets/promo-left-img.png" alt="" class="leftImg">
            <img src="assets/promo-right-img.png" alt="" class="rightImg">

            <p class="secondParagraph">* ყველა ტურნირზე მოხვედრა შესაძლებელია 0 ლარიდან.</p>
            <p class="thirdParagraph">ტურნირების სრული განრიგის სანახავად გადადი<br> <span>პოკერის ლობიში</span> </p>

            <button class="btn">პოკერის ლობი</button>
        </div>
    </ng-container>

    <div class="wrapper"  [ngClass]="{'secondWrapper': secondTab, 'thirdWrapper': thirdTab}"   >
   
        <div class="topBorder" *ngIf="firstTab"></div>

        <div class="top" *ngIf="firstTab" >

            <p *ngIf="!secondTab && firstTab">1 ₾ ᲠᲔᲘᲙᲘ = 1 ᲥᲣᲚᲐᲡ</p>
            <p *ngIf="secondTab">ᲛᲝᲮᲕᲓᲘ TOP20 ᲚᲘᲓᲔᲠᲑᲝᲠᲓᲨᲘ ᲢᲣᲠᲜᲘᲠᲔᲑᲖᲔ ᲓᲐᲒᲠᲝᲕᲔᲑᲣᲚᲘ ᲥᲣᲚᲔᲑᲘᲗ</p>
        </div>

        <div class="back"  [ngClass]="{'secondBack': secondTab, 'thirdBack': thirdTab}">
            
            <p class="titleTop" *ngIf="firstTab" >ჰოლდემის TOP20 ლიდერბორდი</p>
            <img src="assets/example-icon.png" alt="" class="info" *ngIf="firstTab" >

            <img src="assets/final-info-img.jpg" alt="" *ngIf="thirdTab" class="tourImage">

            <p *ngIf="thirdTab" class="maltaPara">ᲒᲐᲔᲛᲒᲖᲐᲕᲠᲔ THE FESTIVAL IN MALTA-ᲖᲔ!</p>
            <p *ngIf="thirdTab" class="festivalPara">The Festival სერიების ფარგლებში, ევროპაბეთი უკვე მეორედ აძლევს პოკერის მოთამაშეებს <br> <span>დაუვიწყარი მოგზაურობის შანსს.</span></p>

            <div *ngIf="thirdTab" class="middleNote">15-დან 21 მაისის ჩათვლით მალტა პოკერის ფესტივალს უმასპინძლებს</div>
            <div class="orangeLine1" *ngIf="thirdTab"></div>
            <div *ngIf="thirdTab" class="contents">
                <div class="contentWrapper">
                    <div class="orangeLine2"></div>

                    <div class="orangeLine3" *ngIf="thirdTab"></div>
                    <div class="orangeLine4" *ngIf="thirdTab"></div>

                    <div class="headerWrapper">
                    A კატეგორიის საგზურში შედის
                </div>

                   
                    <div>
                        <img src="assets/final-item-ticket-icon.png" alt="" class="icon1">
                        <p class="para1" style="margin-right:10pt;">ორმხრივი ავიაბილეთი</p>
                        
                    </div>
                    <div>

                        <img src="assets/final-item-event-icon.png" alt="" class="icon1">
                        <p class="para1">The Festival in Malta <br> -ს მეინ ივენთის ბაი-ინი</p>

                    </div>
                    <div>
                        <img src="assets/final-item-event-icon.png" alt="" class="icon1">
                        <p class="para1">Holdem ან Omaha <br> ჰაიროლერ ტურნირის <br> ბაი-ინი</p>
                    </div>
                    <div>
                        <img src="assets/final-item-hotel-icon.png" alt="" class="icon1">
                        <p class="para1">სასტუმრო Golden Tulip <br> Vivaldi Hote</p>
                    </div>
                    <div>
                        <img src="assets/final-item-money-icon.png" alt="" class="icon1">
                        <p class="para1">€500 სახარჯი ფული</p>
                    </div>
               
                </div>
                <div class="contentWrapper">
                    <div class="orangeLine2"></div>

                    <div class="headerWrapper">
                    A კატეგორიის საგზურში შედის
                </div>

                
                <div>
                    <img src="assets/final-item-ticket-icon.png" alt="" class="icon1">
                    <p class="para1" style="margin-right:10pt;">ორმხრივი ავიაბილეთი</p>
                    
                </div>
                <div>

                    <img src="assets/final-item-event-icon.png" alt="" class="icon1">
                    <p class="para1">The Festival in Malta <br> -ს მეინ ივენთის ბაი-ინი</p>

                </div>
                <div>
                    <img src="assets/final-item-event-icon.png" alt="" class="icon1">
                    <p class="para1">Holdem ან Omaha <br> ჰაიროლერ ტურნირის <br> ბაი-ინი</p>
                </div>
                <div>
                    <img src="assets/final-item-hotel-icon.png" alt="" class="icon1">
                    <p class="para1">სასტუმრო Golden Tulip <br> Vivaldi Hote</p>
                </div>
                <div>
                    <img src="assets/final-item-money-icon.png" alt="" class="icon1">
                    <p class="para1">€500 სახარჯი ფული</p>
                </div>
                </div>
                <div class="contentWrapper" >
                    <div class="orangeLine2"></div>
                    <div class="headerWrapper" style="margin-top:-21pt;">
                    A კატეგორიის საგზურში შედის
                </div>
                
             

                <div  style="margin-top:-16pt;">
                    <img src="assets/final-item-ticket-icon.png" alt="" class="icon1">
                    <p class="para1" style="margin-right:10pt;">ორმხრივი ავიაბილეთი</p>
                    
                </div>
                <div  style="margin-top:-16pt;">

                    <img src="assets/final-item-event-icon.png" alt="" class="icon1">
                    <p class="para1">The Festival in Malta <br> -ს მეინ ივენთის ბაი-ინი</p>

                </div>
                <div  style="margin-top:-16pt;">
                    <img src="assets/final-item-hotel-icon.png" alt="" class="icon1">
                    <p class="para1" style="margin-right:90pt;">სასტუმრო</p>
                </div>
                <div  style="margin-top:-16pt;">
                    <img src="assets/final-item-money-icon.png" alt="" class="icon1">
                    <p class="para1">€500 სახარჯი ფული</p>
                </div>
               
                </div>
            </div>


           

            <div class="first" *ngIf="!thirdTab" [ngClass]="{'first2':secondTab}">
                <p id="top20" *ngIf="secondTab">ᲛᲝᲮᲕᲓᲘ TOP20 ᲚᲘᲓᲔᲠᲑᲝᲠᲓᲨᲘ ᲢᲣᲠᲜᲘᲠᲔᲑᲖᲔ ᲓᲐᲒᲠᲝᲕᲔᲑᲣᲚᲘ ᲥᲣᲚᲔᲑᲘᲗ</p>
                <div *ngIf="secondTab" id="top2">ქულების დაგროვების მექანიკა</div>
                <img *ngIf="secondTab" src="assets/mechanic-icon.png" alt="" id="mechanicIcon">
                <div class="title left">ადგილი</div>
                <img src="assets/watch-icon-sm.png" alt="" class="watchIcon">
                <div class="title">ვაუჩერი</div>
                <div class="title right">პრიზი</div>
                

                <div class="scrollWrapper">

                    <div class="scrollWrapperContainer">
                    <div class="child">
                        <div class="nom">1</div>
                        <div class="line">—</div>
                        <img src="assets/travel-icon-sm.png" class="travel"><div class="prize1">A კატეგორიის საგზური</div>
                        
                    </div>
                    <div class="child">
                        <div class="nom">2</div>
                        <div class="line">—</div>
                        <img src="assets/ticket-icon-sm.png" alt="" class="ticket">
                        <div class="prize1">B კატეგორიის საგზური</div>
                    </div>
                    <div class="child">
                        <div class="nom">3</div>
                        <div class="line">1 500 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">4</div>
                        <div class="line">1 200 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">5</div>
                        <div class="line">1 000 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">6</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">7</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">8</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">9</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">10</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">11</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">12</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">13</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">14</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">15</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">16</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">17</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">18</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">19</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">20</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    
                </div>
    
                </div>
            </div>



            <div class="second"   *ngIf="firstTab">

                <div>
                    <img src="assets/travel-icon-sm.png" class="travel2">
                    <p class="par1">The Festival in Malta-ს საგზური</p>
                </div>
                <div>
                    <img src="assets/ticket-icon-sm.png" alt="" class="ticket2">
                    <p class="par2">სპეციალური ტურნირის „Cashgame Sharks” ბილეთი, სადაც გათამაშდება <br>The Festival in Malta-ს საგზური</p>
                </div>
                <div>
                    <img src="assets/watch-icon-sm.png" alt="" class="watchIcon2">
                    <p class="par3">ტექნიკის მაღაზიის ვაუჩერი</p>
                </div>

                <div class="line2"></div>
                <div class="line3"></div>
                <div class="line4"></div>

            </div>


            <p class="parTop"  *ngIf="firstTab" >TOP20 ლიდერბორდი ჰოლდემში</p>
            <img  *ngIf="firstTab" src="assets/example-icon.png" alt="" class="exampleIcon">

            <div class="first"   *ngIf="firstTab" >
                 <div class="title left">ადგილი</div>
                <img src="assets/watch-icon-sm.png" alt="" class="watchIcon">
                <div class="title">ვაუჩერი</div>
                <div class="title right">პრიზი</div>
                

                <div class="scrollWrapper">

                    <div class="scrollWrapperContainer">
                    <div class="child">
                        <div class="nom">1</div>
                        <div class="line">—</div>
                        <img src="assets/travel-icon-sm.png" class="travel"><div class="prize1">A კატეგორიის საგზური</div>
                        
                    </div>
                    <div class="child">
                        <div class="nom">2</div>
                        <div class="line">—</div>
                        <img src="assets/ticket-icon-sm.png" alt="" class="ticket">
                        <div class="prize1">B კატეგორიის საგზური</div>
                    </div>
                    <div class="child">
                        <div class="nom">3</div>
                        <div class="line">1 500 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">4</div>
                        <div class="line">1 200 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">5</div>
                        <div class="line">1 000 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">6</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">7</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">8</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">9</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">10</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">11</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">12</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">13</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">14</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">15</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">16</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">17</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">18</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">19</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    <div class="child">
                        <div class="nom">20</div>
                        <div class="line">800 ₾</div>
                        <div class="prize1">სპეც. ტურნირის ბილეთი</div>
                    </div>
                    
                </div>
    
                </div> 
            </div>

            <div class="second" *ngIf="!thirdTab"  >

                <div>
                    <img src="assets/travel-icon-sm.png" class="secondTravel" [ngStyle]="secondTab ? {'top':'65.5%'}:{ 'top':'82%'}" [ngClass]="{'secTravel': secondTab}">
                    <p class="par1">The Festival in Malta-ს საგზური</p>
                </div>
                <div>
                    <img src="assets/ticket-icon-sm.png" alt="" class="secondTicket" [ngStyle]="secondTab ? {'top':'75%'}:{ 'top':'87.5%'}"  [ngClass]="{'secTicket': secondTab}" >
                    <p class="par2">სპეციალური ტურნირის „Cashgame Sharks” ბილეთი, სადაც გათამაშდება <br>The Festival in Malta-ს საგზური</p>
                </div>
                <div>
                    <img src="assets/watch-icon-sm.png" alt="" class="secondWatch" [ngStyle]="secondTab ? {'top':'83.5%'}:{ 'top':'92.5%'}" [ngClass]="{'secWatch': secondTab}" >
                    <p class="par3">ტექნიკის მაღაზიის ვაუჩერი</p>
                </div>

                <div id="secondLine" [ngStyle]="secondTab ? {'top':'65%'}:{ 'top':'82%'}"  ></div>
                <div  [ngClass]="{'seccLine': secondTab}"></div>
                <div id="thirdLine"  [ngStyle]="secondTab ? {'top':'74%'}:{ 'top':'87%'}"></div>
                <div id="forthLine" [ngStyle]="secondTab ? {'top':'83%'}:{ 'top':'92.5%'}" ></div>

            </div>


            <img src="assets/star.png" alt="" class="star"  [ngStyle]="secondTab ? {'top':'94.5%'}:{ 'top':'97.8%'}" *ngIf="secondTab">
            <p  class="lastPara" *ngIf="!thirdTab" >ლიდერბორდის შედეგები განახლდება<span class="small">პოკერის ლობიში</span></p>
            <p *ngIf="secondTab"   [ngClass]="{'damateba': secondTab}"  >* სატურნირო ლიდერბორდის ქულების დათვლაში არ მონაწილეობს ფრიროლები და სატელიტები</p>
          

        </div>
    </div>

    <div class="midDiv" *ngIf="secondTab">
        <p id="headertitle">ᲧᲝᲕᲔᲚᲓᲦᲘᲣᲠᲘ ᲢᲣᲠᲜᲘᲠᲔᲑᲘ ᲓᲐ ᲡᲐᲢᲔᲚᲘᲢᲔᲑᲘ</p>
        <div>
            <img src="assets/tournament-bg.png" alt="">
            <div id="pare1">
            <p class="name1">Holdem Highrollers</p>
            <p class="name2">ბაი-ინი - 550₾</p>
            
            </div>
            <div id="pare2">
                <p class="name3">50 000 ₾</p>
                <p class="name4">27 აპრილი</p>
               
            </div>
            
        </div>
        
        <div>
            <img src="assets/tournament-bg2.png" alt="">
            <div id="pare3">
                <p class="name1">Omaha Highrollers</p>
                <p class="name2">ბაი-ინი - 550₾</p>
               
                
            </div>
            <div id="pare4">
                <p class="name3 name33" id="name33">50 000 ₾</p>
                <p class="name4  name44" id="name44">28 აპრილი</p>
                
            </div>
        </div>
        <div>
            <img src="assets/main-bg.png" alt="" class="lastImage">
            <div id="pare5">
                <p class="events">Main Events</p>
                <p class="loc">ბაი-ინი - 550₾</p>
                
            </div>
            <div id="pare6">
                <p class="name3 " id="number">150 000 ₾</p>
                <p class="name6">29 აპრილი</p>
                
            </div>
        </div>

        <p id="footerTitle">* სამივე ტურნირის გამარჯვებულები მიიღებენ ბეჭდებს და ფინალურ ეტაპზე, The <br> Lord of the Rings ტურნირზე, იბრძოლებენ The Festival in Malta-ს საგზურის მისაღებად.</p>
    </div>

    <div class="add" *ngIf="!thirdTab">
        <div class="headerLine"></div>

        <p id="addPara">ᲓᲐᲛᲐᲢᲔᲑᲘᲗ ᲨᲔᲓᲒᲔᲑᲐ, ᲥᲔᲨᲒᲔᲘᲛᲘᲡ, ᲢᲣᲠᲜᲘᲠᲔᲑᲘᲡ ᲓᲐ ᲡᲞᲘᲜ ᲞᲝᲙᲔᲠᲘᲡ<br><span id="spanTitle">12 SIDE ᲚᲘᲓᲔᲠᲑᲝᲠᲓᲘ</span></p>

        <img src="assets/star.png" alt="" id="secondStar">
        <p id="addSecondPara">Side ლიდერბორდების შესახებ დეტალური ინფორმაცია იხილეთ პოკერის ლობიში.</p>
            

    </div>

    <div class="cardsContainer" *ngIf="thirdTab">
        <div class="cardsHeader">ᲛᲝᲘᲒᲔ ᲡᲐᲒᲖᲣᲠᲘ 30 ᲐᲞᲠᲘᲚᲘᲡ ᲤᲘᲜᲐᲚᲣᲠ ᲢᲣᲠᲜᲘᲠᲔᲑᲖᲔ</div>

        <div class="leftBox">
            <div class="box">
                <p class="firstname">“Cashgame Highrollers” -</p>
                <span class="travel1">1 საგზური</span>
                <img src="assets/poker-item-1-ticket-icon.png" alt="" class="pokerItem">
            </div>
            <div class="box">
                <p class="firstname">„Cashgame Grinders”</p>
                <span class="travel1">1 საგზური</span>
                <img src="assets/poker-item-1-ticket-icon.png" alt="" class="pokerItem2">
            </div>
            <div class="box">
                <p class="firstname">„Tournament Sharks“ -</p>
                <span class="travel1">1 საგზური</span>
                <img src="assets/poker-item-1-ticket-icon.png" alt="" class="pokerItem3">
            </div>
          </div>
          <div class="rightBox">
            <div class="box">
                <p class="firstname2">„The Festival in Malta, GTD“</p>
                <p class="firstname3">A კატეგორიის 1 საგზური <br>
                    B კატეგორიის 1 საგზური <br>
                    ტურნირში მონაწილეობის მიღება შეუძლია <br> ნებისმიერ მსურველს 165₾ ბაი-ინის გადახდით.
                </p>
                <img src="assets/poker-item-2-ticket-icon.png" alt="" class="pokerItem4">
            </div>
            <div class="box">
                <p class="firstname2">„The Lord of the Rings“</p>
                <p class="firstname3">C კატეგორიის 1 საგზური <br>
                    <br>
                    ტურნირში მონაწილეობის მიღება შეუძლია <br> ნებისმიერ მსურველს 165₾ ბაი-ინის გადახდით.
                </p>
                <img src="assets/poker-item-2-ticket-icon.png" alt="" class="pokerItem5">
            </div>
          </div>

          <p class="lastPara2">* თუ მოთამაშე მოიგებს ბეჭედს ორჯერ ან მეტჯერ, ის The Lord of the Rings ტურნირზემოხვდება <br> <span>ბეჭდების შესაბამისი რაოდენობის სტეკით</span> </p>
          <p class="lastPara3"> *ტურნირში მონაწილეობის მიღება შეუძლია ნებისმიერ მსურველს 165₾-იანი <br> <span>ბაი-ინის გადახდით.</span></p>


    </div>
    

    <div class="lastList" *ngIf="thirdTab">
        <div class="lastListHeader">მისტიური გასაღები

            <div class="newLine"></div>
            <img src="assets/key.png" alt="" class="keyImg">
            
        </div>
        <p class="lastParaPrize">მოთამაშეები გარკვეული საპრიზო ადგილების დაკავების შემთხვევაში მიიღებენ საიდუმლო გასაღებს</p>

        <div class="scrollable">

            <div class="innerScrollable">
            <div>
                <div class="circle2">1</div>
                <p class="tourPar">სპეციალური ტურნირი Cashgame Sharks II ადგილი</p>
            </div>
            <div>
                <div class="circle2">2</div>
                <p class="tourPar">სპეციალური ტურნირი Cashgame Sharks II ადგილი</p>
            </div>
            <div>
                <div class="circle2">3</div>
                <p class="tourPar">სპეციალური ტურნირი Tournament Sharks II ადგილი</p>
            </div>
            <div>
                <div class="circle2">4</div>
                <p class="tourPar">სპეც. ტურნირი Tournament Sharks III ადგილი</p>
            </div>
            <div>
                <div class="circle2">5</div>
                <p class="tourPar">Holdem Grinders ლიდერბორდის გამარჯვებული</p>
            </div>
            <div>
                <div class="circle2">6</div>
                <p class="tourPar">ქეშგეიმ დაბალი ლიმიტების ლიდერბორდების გამარჯვებულები</p>
            </div>
            <div>
                <div class="circle2">7</div>
                <p class="tourPar">სპეციალური ტურნირი Cashgame Sharks II ადგილი</p>
            </div>
            <div>
                <div class="circle2">8</div>
                <p class="tourPar">სპეციალური ტურნირი Cashgame Sharks II ადგილი</p>
            </div>
            <div>
                <div class="circle2">9</div>
                <p class="tourPar">სპეციალური ტურნირი Cashgame Sharks II ადგილი</p>
            </div>
            <div>
                <div class="circle2">10</div>
                <p class="tourPar">სპეციალური ტურნირი Cashgame Sharks II ადგილი</p>
            </div>
            <div>
                <div class="circle2">11</div>
                <p class="tourPar">სპეციალური ტურნირი Cashgame Sharks II ადგილი</p>
            </div>
            <div>
                <div class="circle2">12</div>
                <p class="tourPar">სპეციალური ტურნირი Cashgame Sharks II ადგილი</p>
            </div>
            <div>
                <div class="circle2">13</div>
                <p class="tourPar">სპეციალური ტურნირი Cashgame Sharks II ადგილი</p>
            </div>
            <div>
                <div class="circle2">14</div>
                <p class="tourPar">სპეციალური ტურნირი Cashgame Sharks II ადგილი</p>
            </div>
            <div>
                <div class="circle2">15</div>
                <p class="tourPar">სპეციალური ტურნირი Cashgame Sharks II ადგილი</p>
            </div>
            <div>
                <div class="circle2">16</div>
                <p class="tourPar">სპეციალური ტურნირი Cashgame Sharks II ადგილი</p>
            </div>
            <div>
                <div class="circle2">17</div>
                <p class="tourPar">სპეციალური ტურნირი Cashgame Sharks II ადგილი</p>
            </div>
            <div>
                <div class="circle2">18</div>
                <p class="tourPar">სპეციალური ტურნირი Cashgame Sharks II ადგილი</p>
            </div>
            <div>
                <div class="circle2">19</div>
                <p class="tourPar">სპეციალური ტურნირი Cashgame Sharks II ადგილი</p>
            </div>
            <div>
                <div class="circle2">20</div>
                <p class="tourPar">სპეციალური ტურნირი Cashgame Sharks II ადგილი</p>
            </div>
        </div>
    </div>

    </div>


    <p class="headerTitle">წესები და პირობები</p>
    <div class="questionsDiv">
        <div>
            <p>როდის იწყება და რა ფორმატით გაიმართება აქცია</p>
            <img src="assets/mechanic-icon.png" alt="" class="arrow1">
        </div>
        <div><p>
            როგორ მივიღო აქციაში მონაწილეობა?
        </p>
        <img src="assets/mechanic-icon.png" alt="" class="arrow1">
    </div>
        <div>
            <p>სხვადასვა</p>
            <img src="assets/mechanic-icon.png" alt="" class="arrow1">
        </div>
    </div>

    <p class="headerTitle2">მსგავსი აქციები</p>

    <div class="footer">
        <div class="footerContainer">
        <div>
            <img src="assets/Rounded Rectangle 595@2x.png" alt="" class="firstImage">
            <p class="note1">Get 300% Cashback <br> <br><small>retrieve 300% bet amount as <br> real money only here</small></p>

        </div>
        <div>
            <img src="assets/Rounded Rectangle 596@3x.png" alt="" class="secondImage">
            <p class="note2">Coming Soon <br> <br><small>retrieve 300% bet amount as <br> real money only here</small></p>
        </div>
        <div>
            <img src="assets/Rounded Rectangle 597.png" alt="" class="thirdImage">
            <p class="note2">Win a Jackpot<br> <br><small>retrieve 300% bet amount as <br> real money only here</small></p>

        </div>
        <div>
            <img src="assets/Rounded Rectangle 598.png" alt="" class="thirdImage">
            <p class="note4">Get 300% Cashback<br> <br><small>retrieve 300% bet amount as <br> real money only here</small></p>
        </div>
    </div>
    </div>

    
    <div class="fixedDiv">
        <button>ითამაშე</button>
    </div>
</div>